{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="container">
        <div class="jumbotron bg-transparent">
            <h2 id="startMessage" class="d-none text-success text-center text-md-left">
                Your game will start in<br>3<br>seconds...
            </h2>

            <div id="loadingMessage" class="row">
                <div class="col-md-6">
                    <h2 class="text-center text-md-left d-md-inline">
                        Please wait...
                    </h2>
                    <p class="text-center text-md-left">
                        The game will start automatically when your turn comes!
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="display-4 text-center d-md-inline">
                        <i class="fas fa-spinner fa-spin"></i>
                    </div>
                </div>
            </div>


            <hr class="my-4">

            <table class="table table-responsive table-bordered table-hover bg-white">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="w-100">Username</th>
                    <th class="text-center">Status</th>
                </tr>
                <tr id="tempUser" class="d-none">
                    <td data-id="number" class="text-center"></td>
                    <td data-id="username" class="w-100"></td>
                    <td class="text-center">
                        <span data-id="status" class="badge badge-pill">
                        </span>
                    </td>
                </tr>
                </thead>

                <tbody id="usersTable">
                </tbody>
            </table>

            <div class="mt-3 text-center">
                <form action="{{ path_for('logout') }}" method="post">
                    <button class="btn btn-danger">Exit</button>
                </form>
            </div>
        </div>
    </div>

    <div id="game" class="d-none"
         data-checkStart="{{ path_for('checkStart') }}"
         data-checkQueue="{{ path_for('checkQueue') }}"
         data-game="{{ path_for('game') }}">
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ base_url() }}/js/queue.js"></script>
{% endblock %}
